img {
height: 110%;
width: 100%;
padding-bottom: 10%;
}

.right-form{
    background-color: rgb(240, 240, 233);
}

#save-btn{
    color: white;
    background-color: rgb(255, 168, 5);
    padding: 3px 55px;
    border: none;
    border-radius: 4px;
}

#calculate-btn{
    color: white;
    background-color: rgb(255, 168, 5);
    padding: 5px 55px;
    border: none;
    border-radius: 4px;
}
